/* adopt.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('pets/adopt.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: #333; /* Default text color */
}

h1, h2 {
    text-align: center; /* Centering titles */
    color: #333;
    margin-top: 20px;
}

.container {
    display: flex;
    justify-content: center; /* Center the form horizontally */
    align-items: flex-start; /* Align items to the top */
    padding: 20px;
}

.submit-form {
    background: rgba(255, 255, 255, 0.9); /* Slightly transparent background */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    width: 100%;
    max-width: 600px; /* Set a max width for larger screens */
}

label {
    display: block;
    margin-bottom: 15px;
}

input[type="text"],
input[type="tel"],
input[type="email"],
input[type="number"],
select {
    width: 100%;
    padding: 8px ;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; /* Ensure padding doesn't affect total width */
}

.submit {
    text-align: center; /* Center submit button */
    padding: 10px 15px;
}

button {
    padding: 10px 15px;
    background-color: #5cb85c;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Smooth hover effect */
}

button:hover {
    background-color: #4cae4c;
}

.pet-details {
    margin-top: 20px; /* Space above pet details */
    padding: 10px;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.pet-details p {
    margin: 5px 0; /* Space between lines */
}

.form-group{
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    align-items: baseline;
}