/* Global Styles */
html {
  scroll-behavior: smooth; /* Enables smooth scrolling */
}
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #EAF2F8;
  max-width: 100vw;

}

/* hero section*/
.hero{
  display: flex;
}
/* Top Section with Heading and Search Bar */


.top-section h2 {
  font-size: 45px;
  color: #333;
  text-align: center;
  margin-top: 50px;
}

.search-container {
  display: flex;
  justify-content: center;
  align-items: center;

}

.search-container input[type="text"] {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 250px;
  margin-right: 10px;
}

.search-container button {
  padding: 10px;
  font-size: 16px;
  background-color: #6c63ff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.search-container button:hover {
  background-color: #5b54e1;
}

/* Pet Listings Styles */
.pet-listings {
  display: flex;
  width: 75%;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.pet-card {
  background-color: white;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 2rem;
  width: 19%;
  padding: 20px 15px 20px 15px;
}



.pet-card img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
}

.pet-card h4 {
  color: #0A453A;
  font-size: 1rem;
}

.location {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.location img {
  max-width: 20px;
  max-height: 20px;
}

.pet_info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
  gap: 5.5px;
}

.pet_info_box {
  background-color: rgba(234, 232, 247, 1);
  padding: 10px;
  border-radius: 20px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 2rem;
  color: #2E256F;
  font-weight: bold;
  font-size: x-small;
}

.adopt-btn {
  margin: 0 1rem;
  padding: 0.8rem 1.5rem;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  color: white;
  background-color: #6C63FF;
}

/* Footer Section */
footer {
  background-color: #5C67F2;
  color: white;
  padding: 2rem;
}

footer ul {
  list-style: none;
  padding: 0;
}

footer ul li {
  margin: 0.5rem 0;
}

footer .newsletter input {
  padding: 0.5rem;
  margin-right: 0.5rem;
}
/* Adoption Process Section */
.adoption-process {
  text-align: center;
  background-color: #FFF1E6;
  padding: 2rem;
  width: 20%;
}

.adoption-process h4 {
  color: #0A453A
}
.adoption-process .steps {
  display: flex;
  gap: 2rem;
  align-items: center;
  flex-direction: column;
}

.adoption-process .step {
  background-color: #FFFFFF;
  border-radius: 10px;
  padding: 1.5rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
}
.sticky{
  position: sticky;
  top: 0;
  z-index: 999;
}