* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body {
  background: #EAF2F8;
  color: #4A4E69;
  
}

body::-webkit-scrollbar{
  display: none;
}

.container {
  padding: 10px 10%;
  margin: 16px;
  margin-left: 81px;
  
}



.container form {
  max-width: 100%;
  padding: 50px 30px 20px;
  border-radius: 4px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
  position: relative;
  margin-top: 100px;
}

.input-group {
  width: 100%;
  display: flex;
  align-items: center;
  margin: 20px 0;
  position: relative;
}

.input-group label {
  flex-basis: 28%;
}

.input-group .country-code {
  flex-basis: 20%;
  max-width: 70px;
  background: transparent;
  border: 0;
  outline: 0;
  padding: 10px 0;
  border-bottom: 1px solid #999;
  color: #fff;
  font-size: 16px;
  font-family: cursive;
}

.input-group input[type="text"],
.input-group input[type="tel"],
.input-group input[type="email"],
.input-group textarea {
  flex-basis: 48%;
  background: transparent;
  border: 0;
  outline: 0;
  padding: 10px 0;
  border-bottom: 1px solid #999;
  color: #fff;
  font-size: 16px;
  font-family: cursive;
}

.input-group input[type="text"]::placeholder,
.input-group input[type="tel"]::placeholder,
.input-group input[type="email"]::placeholder,
.input-group textarea::placeholder {
  font-size: 14px;
  font-family: cursive;
}

form button {
  background: #141a34;
  color: #fff;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.7);
  padding: 10px 40px;
  outline: 0;
  cursor: pointer;
  display: block;
  margin: 30px auto 10px;
}

.input-group span {
  position: absolute;
  bottom: 12px;
  right: 17px;
  font-size: 14px;
  color: red;
  font-family: cursive;
}

#submit-error {
  color: red;
}
h1{
text-align: center;
padding-top: 5%;
font-family: cursive;
}