body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #e8f0fe ;
}


.contact-container {
  display: flex;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  min-height: 100vh;
}

.contact-info {
  flex: 1;
  padding: 30px;
  background-color: #e8f0fe;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url('pets/contact.jpg');


}

.contact-info h2 {
  color: #9ed5ff;
  margin-bottom: 20px;
  font-size: 5rem;
}

.contact-info p {
  color: #9ed5ff;
  margin-bottom: 30px;
  line-height: 1.5;
  font-size: 2rem;
}

.contact-image {
  display: none;
  max-width: 100%;
  border-radius: 10px;
  margin-bottom: 20px;
}

.contact-details {
  color: #ffffff;
  font-size: 16px;

}

.contact-details p {
  margin: 10px 0;
  display: flex;
  align-items: center;
}

.contact-details i {
  margin-right: 10px;
}

.contact-form {
  flex: 1;
  padding: 40px;
  background-color: #ffffff;
  display: flex;
    flex-direction: column;
    justify-content: center;
}

.contact-form h3 {
  margin-bottom: 30px;
  color: #202124;
  font-size: 24px;
  font-weight: 500;
}

.input-container {
  margin-bottom: 20px;
}

.input-container input,
.input-container textarea {
  width: 100%;
  padding: 15px;
  border: 1px solid #dfe1e5;
  border-radius: 5px;
  font-size: 16px;
}

.input-container textarea {
  height: 100px;
  resize: none;
}

button {
  width: 100%;
  padding: 15px;
  background-color: #673ab7;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #5e35b1;
}
